.main-div{
    background-color:rgb(167, 208, 244);
    max-width:fit-content
}
.btn{
    background-color:rgba(0, 204, 255, 0.694);
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    width:60px;
    height: 30px;
    border-radius:10px
    
}